<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwaksamo.kwaksinsa.repository.OrdersRepository">

	<select id="findAllByUserIdJoin" resultType="com.kwaksamo.kwaksinsa.controller.respdto.AdminOrdersRespDto">
	SELECT o.id, o.userId "userId",u.username, o.impId, o.merchantId, o.applyNum, o.totalPay, o.createDate
		FROM orders o INNER JOIN user u
		ON u.id = o.userId
	WHERE u.id = #{userId}
	ORDER BY id DESC
	</select>

	<select id="findAllJoin" resultType="com.kwaksamo.kwaksinsa.controller.respdto.AdminOrdersRespDto">
	SELECT o.id, o.userId "userId", u.username, o.impId, o.merchantId, o.applyNum, o.totalPay, o.createDate
		FROM orders o INNER JOIN user u
		ON u.id = o.userId
	ORDER BY id DESC
	</select>

	<select id="findByOrdersId" resultType="com.kwaksamo.kwaksinsa.model.Orders">
	SELECT id, userId, impId, merchantId, applyNum, totalPay,createDate
		FROM orders
	WHERE id = #{ordersId}
	</select>

	<!-- 해당 유저의 결제내역 -->
	<select id="findByUserId" resultType="com.kwaksamo.kwaksinsa.model.Orders">
	SELECT id, userId, impId, merchantId, applyNum, totalPay,createDate
		FROM orders
	WHERE userId = #{userId}
	ORDER BY id DESC
	</select>

	
	<select id="findByUserIdOrdersIdJoin" resultType="com.kwaksamo.kwaksinsa.controller.respdto.OrdersDetailDto">
	SELECT o.id , p.imgUrl, p.name, p.price, d.count, d.status
		FROM orders o LEFT OUTER JOIN orders_detail d
		ON o.id = d.ordersId
		INNER JOIN product p
		ON p.id = d.productId
		INNER JOIN user u
		ON u.id = o.userId
		WHERE u.id = #{userId} AND o.id = #{ordersId}
	ORDER BY id DESC
	</select>

	<!-- 아임포트가 나타나기전에 DB에 있는 값으로 더함 -->
	<select id="sum" resultType="com.kwaksamo.kwaksinsa.controller.dto.BasketSumDto">
	SELECT b.count, p.price
		FROM basket b INNER JOIN product p
		ON b.productId = p.id
		INNER JOIN user u
		ON b.userId = u.id
	WHERE u.id = #{userId} AND b.id = #{basketId}
	</select>
	
	<!-- 주문완료시 Orders 테이블에 들어감 -->
	<insert id="saveOrders" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO orders(userId, impId, merchantId, applyNum,totalPay,createDate)
		VALUES(#{userId},#{impId},#{merchantId},#{applyNum},#{totalPay},now())
	</insert>

	<!-- 주문완료시 Orders_detail 테이블에 들어감 -->	
	<insert id="saveDetails">
		INSERT INTO orders_detail(ordersId, productId, count, status,createDate)
		VALUES(#{ordersId},#{productId},#{count},#{status},now())
	</insert>
</mapper>