<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kwaksamo.kwaksinsa.repository.StockRepository">

<insert id="save">
	INSERT INTO stock(productId, count)
	VALUES(#{productId},#{count})
</insert>

</mapper>